{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un lieu</h1>
    {{ form_start(lieuForm) }}


    {{ form_widget(lieuForm) }}
    <button class="btn btn-primary btn-block w-100">Valider</button>
    {{ form_end(lieuForm) }}
    <a href="{{ path('lieu_affichage') }}"><button class="btn btn-dark btn-block w-100">Annuler</button></a>
{% endblock %}

{% block title %}
    {{ parent() }} | Ajouter un lieu
{% endblock %}



