{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler une sortie</h1>
    <div>Nom de la sortie : {{ sortie.nom }}</div>
    <div>Date de la sortie : {{ sortie.dateHeureDebut | date('d/M/Y') }}</div>
    <div>Campus : {{ sortie.campus.nom }}</div>
    <div>Lieu : {{ sortie.lieu.nom }}</div>
    {{ form_start(annulationForm) }}
    {{ form_widget(annulationForm) }}
    <button class="btn btn-primary btn-lg">Enregistrer</button>
    {{ form_end(annulationForm) }}
    <a href="{{ path('sortie_liste') }}"><button class="btn btn-dark btn-lg">Annuler</button></a>
{% endblock %}

{% block title %}
    Annulation | {{ parent() }}
{% endblock %}

