{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ page_name }}{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">{{ page_name }}</h1>
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_end(form) }}

    </div>
{% endblock %}