{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ page_name }}{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">{{ page_name }}</h1>
        <table id="villeTable" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code Postal</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if villes is defined and villes is not empty %}
                {% for ville in villes %}
                    <tr class="text-center">
                        <td scope="row">{{ ville.id }}</td>
                        <td scope="row">{{ ville.nom }}</td>
                        <td scope="row">{{ ville.codePostal}}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td scope="row">
                                <div class="btn-group">
                                    <a href="{{ path('edit_ville', {'id': ville.id}) }}" ><input type="button" value="Modifier" class="btn btn-sm btn-outline-success"></a>
                                    <a href="{{ path('delete_ville', {'id': ville.id}) }}" ><input type="button" value="Supprimer" class="btn btn-sm btn-outline-danger"></a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% else %}
                <tr class="text-center">
                    <th class="text-center text-muted" scope="row" colspan="4">Aucune ville disponible.</th>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a href="{{ path('add_ville') }}" class="btn btn-outline-primary">Ajouter une ville</a>

    </div>
{% endblock %}