{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil</h1>
    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    {% if img|default(null) %}
    <img class="miniature" src="{{ asset('img/'~img ) }}">
    {% endif %}
    <br/>
    <button class="btn btn-primary btn-lg btn-block w-100">Valider</button>
    {{ form_end(profilForm) }}
    <a href="{{ path('profil_affichage') }}"><button class="btn btn-dark btn-lg btn-block w-100">Annuler</button></a>

{% endblock %}

{% block title %}
Profil | {{ parent() }}
{% endblock %}

