{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">{{ participant.pseudo | upper }}</h1>
    </div>
    <img src="{{ asset('img/'~participant.imgProfil) }}" alt="{{ participant.imgProfil }}" class="mx-auto d-block">
    <div class="text-center">Prenom : {{ participant.prenom }}</div>
    <div class="text-center">Nom : {{ participant.nom }}</div>
    <div class="text-center">Téléphone : {{ participant.telephone }}</div>
    <div class="text-center">Email : {{ participant.email }}</div>
    <div class="text-center">Campus : {{ participant.campus.nom }}</div>
    {% if(participant.id == app.user.id) %}
    <a href="{{ path('profil_amend', {'id': app.user.id}) }}"><button class="btn btn-lg btn-primary btn-block w-100">Modifier</button></a>
    {% endif %}
    <a href="{{ path('sortie_liste') }}"><button class="btn btn-lg btn-dark btn-block w-100">Retour</button></a>

{% endblock %}

{% block title %}
 {{ parent() }} | Profil de {{ participant.pseudo }}
{% endblock %}

