<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        {# <a class="navbar-brand" href="#">Sortir</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        #}

        {% if app.user %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('sortie_liste') }}">Sorties</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('list_villes') }}">Villes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('lieu_affichage') }}">Lieux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('campus') }}">Campus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profil_affichage',{'id':app.user.id}) }}">Gérer Profil</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_show',{'id':app.user.id}) }}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {% endif %}
{#
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
               </li>
#}
            </ul>
        </div>
    </div>
</nav>

